# IDE, cache
.idea
.sass-cache

# Installed packages
/vendor
/node_modules

# Built files, dev
*.map
/www/*.css
/www/*.js
/www/fonts

# Work/temporary
~*

# Configuration
config.neon

# Local resources
/data
